<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
  <system.webServer>
   <rewrite>
    <rules>
     <rule name="index" stopProcessing="true">
      <match url="(.*)" />
      <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.html" />
     </rule>
                <rule name="index https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
    </rules>
            <rewriteMaps>
                <rewriteMap name="/hinodocs" />
            </rewriteMaps>
   </rewrite>
 <httpErrors> 
   <remove statusCode="404" subStatusCode="-1" /> 
   <remove statusCode="500" subStatusCode="-1" />
   <error statusCode="404" path="/survey/notfound" responseMode="ExecuteURL" /> 
   <error statusCode="500" path="/survey/error" responseMode="ExecuteURL" />
  </httpErrors>
        <caching enabled="false" enableKernelCache="false">
            <profiles>
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" duration="00:02:30" />
            </profiles>
        </caching>
        <urlCompression doStaticCompression="false" />
        <staticContent>
            <mimeMap fileExtension=".yml" mimeType="application/yaml" />
        </staticContent>
 </system.webServer>
</configuration>